.container {
    background-color: #f9f9fb;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    font-family: Montserrat;
    &:hover {
        background-color: #ffffff;
    }

    td {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}
.first-column {
    padding-left: 20px;
    text-align: left !important;
}
.icon {
    text-align: center;
}
.paid-tatus-tag {
    border-radius: 15px;
    text-align: center;
    background-color: #dcf5dd;
    color: #00940a;
}
.un-paid-tatus-tag {
    border-radius: 15px;
    text-align: center;
    background-color: #f5dcdc;
    color: #ff0000;
    padding-bottom: 3px;
}
.more-icon {
    cursor: pointer;
}
