.container {
    background-color: #f9f9fb;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    font-family: Montserrat;
    &:hover {
        background-color: #ffffff;
        box-shadow: 0px 7px 6px #00000008;
    }

    td {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 16px;
        color: #2a2a2a;
        font-weight: 400;
        font-family: Montserrat;
    }
}
.first-column {
    padding-left: 20px;
    text-align: left !important;
}
.icon {
    text-align: center;
}
.paid-status-tag {
    border-radius: 15px;
    text-align: center;
    background-color: #dcf5dd;
    color: #00940a;
    display: inline-block;
    height: 29px;
    padding: 0px 16px;
    text-transform: capitalize;
}
.un-paid-status-tag {
    border-radius: 15px;
    text-align: center;
    background-color: #f5dcdc;
    color: #ff0000;
    display: inline-block;
    height: 29px;
    padding: 0px 16px;
    text-transform: capitalize;
}
.more-icon {
    cursor: pointer;
}
