.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 45px;
    max-width: 100%;
    &.slider-container {
        width: 100% !important;
    }
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}
.carousal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 45px;
}

.left-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}
.card-image {
    width: 389px;
    height: 286px;
    object-fit: contain;
}
.right-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transform: rotate(180deg);
    cursor: pointer;
}
.text-box {
    display: flex;
    flex-direction: column;
    padding: 0px 55px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 6%;
}
.title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat;
    margin-bottom: 14px;
}
.subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    margin-bottom: 8%;
    text-align: center;
    width: 468px;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.3;
    margin-right: 5px;
}
.active-dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 5px;
}
.dot-container {
    display: flex;
}
.carousel {
    width: 100% !important;
}
