.container {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding: 25px;
    box-shadow: 0px 11px 30px #00000012;
}
.label {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: Montserrat;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.input-field {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    padding: 10px 20px;
    color: #747474;
    outline: none;
    &::placeholder {
        color: #cbcbcb;
    }
}
@media only screen and (max-width: 763px){
    .input-field {
        width: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 23px;
        font-size: 9px;
        padding: 10px 20px;
        color: #747474;
        outline: none;
        &::placeholder {
            color: #cbcbcb;
        }
    }
}
.tick-wrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #6fa5cb;
    cursor: pointer;
}

.tick-icon {
    width: 16px;
    height: 12px;
    object-fit: contain;
}

.slot-container {
    margin-top: 25px;
    padding-right: 15px;
}

.user-icon {
    width: 18px;
    height: 16px;
    object-fit: contain;
}
.staff-name {
    color: #2a2a2a;
    font-size: 16px;
    font-family: Montserrat;
}

.edit-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-right: 30px;
    cursor: pointer;
}
.delete-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    cursor: pointer;
}
.staff-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
        margin-top: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        margin-top: 20px;
    }
}
.default-button {
    background-color: #6fa5cb !important;
}
.disabled-button {
    background-color: #cbcbcb !important;
}
.active-button {
    background-color: #518fbb !important;
}
