.staff{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 11px 30px #00000012;
border: 1px solid #E8E8E8;
border-radius: 10px;
opacity: 1;
width: 379px;
min-height: 200px;
padding: 1rem;
}
.staff>div .staff-name
{
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 23px;
    opacity: 1;
}
.busniss-info
{
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;

}
.staff>div .staff-label{
    margin-top: 10px;
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
}

.add-staff form
{
    display: flex;
    justify-content: space-between;
    gap:0rem 1rem
}

.add-btn
{
    border: none;
    border-radius: 50%;
    overflow: hidden;
}
.add-btn img
{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
}

.staff ul
{
  list-style: none;
  margin: unset ;
  margin-top: 1.5rem;
  width: 100%;
  padding: unset !important;
}
.staff ul li 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
}
.staff ul li img
{
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.staff ul li div:first-child{
    display: flex;
    gap: 0rem 1.5rem;
}
.staff ul li div:last-child{
    display: flex;
    gap: 0rem 1.5rem;
}
.staff ul li div:last-child img
{
    cursor: pointer;
}