.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
}
.radio {
    margin-bottom: 20px;
}
.tagline-box {
    color: #2a2a2a;
    font-size: 14px;
    font-family: Montserrat;
}
.tagline {
    color: #6fa5cb;
    text-decoration: underline;
    margin-right: 5px;
    cursor: pointer;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
.custom-input {
    margin-top: 5px !important;
}
