.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.custom-radio {
    display: flex;
}
