.main {
    margin-top: 20px !important;
    margin-bottom: 36px !important;
    font-size: 24px;
    font-weight: bold;
}


.staff-member-container {
    @media (max-width: 768px) {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
.staff-login-container{
    max-width: 787px;
}