.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000220;
    left: 0;
    top: 0;
    background-color: #6fa5cb;
    background-color: rgba($color: #6fa5cb, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.validation-error {
    color: red;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ccc !important;
    border-color: transparent !important;
}
.container {
    width: 451px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 19px;
    padding: 45px;
    opacity: 1;
}
.label {
    font-size: 18px;
    color: #2a2a2a;
    font-weight: bold;
    font-family: Montserrat;
}
.sub-label {
    font-size: 14px;
    color: #747474;
    font-family: Montserrat;
    margin-bottom: 40px;
}
.input-label {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    padding-bottom: 8px;
}
.input {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 14px;
    padding: 10px 20px;
    color: #747474;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    &::placeholder {
        color: #c4c4c4;
    }
}

.row-width {
    width: 100%;
}
.inline-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.inline-left-input {
    width: 45%;
}
.inline-right-input {
    width: 45%;
}
.terms {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 25px;
}
.term-line {
    margin-left: 20px;
    font-size: 14px;
    color: #747474;
    font-family: Montserrat;
    margin-bottom: 25px;
}
.payment-checkbox {
    transform: scale(1.2);
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}
.button {
    font-size: 16px;
    background-color: #6fa5cb;
    border-radius: 28px;
    padding: 10px 32px;
    color: #ffffff;
    border: none;
}
.checkbox {
    width: 40px;
    height: 40px;
}
::selection {
    color: #000;
    background: #fff;
    opacity: 0;
}
.col-width {
    width: 100%;
}
.form-margin {
    margin-bottom: 0px !important;
}
@media only screen and (max-width: 768px) {
    .space-styling {
        display: block !important;
    }
}
