// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// General
.grid {
    display: grid;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

// Buttons
$btn-size-base: 1rem;

.btn {
    transition: all 0.2s ease;

    &-loading {
        pointer-events: none;
        cursor: default;
        color: transparent;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: $btn-size-base * 1.5;
            height: $btn-size-base * 1.5;
            margin-top: -(($btn-size-base * 1.5)/2);
            margin-left: -(($btn-size-base * 1.5)/2);
            border-radius: 100%;
            border: ($btn-size-base * 0.3) solid transparent;
        }

        &::before {
            border-color: rgba(0, 0, 0, 0.15);
        }

        &::after {
            border-color: white transparent transparent;
            animation: btn-spin 0.6s linear;
            animation-iteration-count: infinite;
        }
    }
}
.ArZPToihndVTucvsNQeItg\=\= {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding: 25px 23px 25px 0px;
    margin-bottom: 20px;
}
@keyframes btn-spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

// Header
header {
    border-bottom: 1px solid #ebedf8;
    z-index: 10;
    padding: 20px $grid-gutter-width/2;
    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 0;
    }

    .logo {
        @include media-breakpoint-up(md) {
            padding: 15px $grid-gutter-width/2;
        }
    }

    .navigation {
        @include media-breakpoint-up(md) {
            padding: 15px $grid-gutter-width/2;
        }
    }
}

// Login Page
.card-body-header {
    padding: 0rem 0rem 0rem 1rem;
}
.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Login Form
.section-login {
    height: 37em !important;
    background-color: #f9f9fb !important;
    h4 {
        margin-bottom: 1.5rem;
        @include media-breakpoint-up(lg) {
            text-align: center;
        }
    }

    .card-body {
        padding: 3rem;
    }
    .form-remember {
        font-size: 0.9rem;
    }

    .btn-primary {
        padding: 5px 25px 5px 25px;
        border-radius: 20px;
    }

    .login-invite-text {
        font-size: 0.9rem;
    }

    .password-reset-link {
        font-size: 0.9rem;
    }
}
.pd-0 {
    padding: 0 !important;
}
.form-control {
    border-radius: 23px !important;
    margin-top: 12px !important;
}
p {
    margin: 1rem 0 0 0 !important;
}
.ending-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borderlastindex {
    border-bottom: 1px solid #dfdfdf;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-button-next {
    background-image: url("../images/slider-arrow.png") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    top: 30% !important;
    transform: rotate(180deg) !important;
}
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev {
    background-image: url("../images/slider-arrow.png") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    top: 30% !important;
}
.swiper-button-prev::after {
    display: none;
}
.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.3;
    background: #ffffff !important;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    background: #ffffff !important;
    opacity: 1;
}
.ant-radio-checked .ant-radio-inner {
    border-color: #6fa5cb !important ;
}

.ant-radio-checked .ant-radio-inner:after {
    background-color: #6fa5cb;
}

.ant-radio:hover .ant-radio-inner {
    border-color: #6fa5cb;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.ant-tabs-tab {
    color: #2a2a2a !important;
    font-size: 16px !important;
    font-family: Montserrat !important;
    &:nth-child(1) {
        color: #2a2a2a !important;
    }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6fa5cb !important;
    font-size: 16px !important;
    font-family: Montserrat !important;
    &:nth-child(1) {
        color: #6fa5cb !important;
    }
}
.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
    background-color: #6fa5cb !important;
    height: 3px !important;
}
.ant-tabs-ink-bar {
    background: #6fa5cb !important;
    height: 3px !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 3px solid #cbcbcb !important;
}
.profit-chart .apexcharts-canvas {
    left: -14px !important;
}
.performance-chart .apexcharts-canvas {
    left: -14px !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
    width: 635px !important;
    height: 3px !important;
}

.ant-popover-inner {
    border-radius: 10px !important;
}
.ant-popover-inner-content {
    border-radius: 10px !important;
}
