.Banner {
    height: 400px;
    position: relative;
}
.Banner .Media {
    background-color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}
.Banner .Media .MediaCaption {
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: black;
    color: white;
    opacity: 0.6;
    width: 100%;
    height: 10%;
    font-size: 36px;
    font-weight: 200;
    transition: 300ms;
    cursor: pointer;
}
.Banner .Media .MediaCaption:hover {
    opacity: 0.8;
}
.Banner .Media:hover {
    filter: brightness(115%);
}
.Banner .BannerGrid {
    height: 100%;
    position: relative;
}
.Banner .Content {
    color: white;
    background-color: red;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding: 30px;
    transition: 300ms;
}
.Banner .Content:hover,
.Banner .Content:active {
    background-color: tomato;
}
.Banner .Content:hover .ViewButton,
.Banner .Content:active .ViewButton {
    background-color: white;
    color: red;
}
.Banner .Content .Title {
    font-size: 42px;
    font-weight: 500;
}
.Banner .Content .Caption {
    margin-top: 10px;
    font-size: 24px;
}
.Banner .Content .ViewButton {
    margin-top: 40px;
    color: white;
    font-size: 24px;
    border: 3px solid white;
    text-transform: capitalize;
    transition: 200ms;
}
.Carousel-button-10{
    width: 21px;
    height: 21px;
    top: calc(50% - 20px) !important;
    color: #6FA5CB !important;
    cursor: pointer !important;
    margin: 0 10px !important;
    position: relative !important;
    font-size: 26px !important;
    transition: 200ms !important;
    padding: 0px !important;
    //background-color: #494949 !important;
    opacity:1 !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
}
.carousal-body{
    background-color:#6FA5CB !important;
    height:40em !important;
}
.title{
    font: normal normal normal 16px/25px Montserrat;
    letter-spacing: 0px;
    color: #747474;
    opacity: 1;
}
.Carousel-indicator-3:active {
    color: #fff !important;
}
.Carousel-indicator-3:hover{
    color: #fff3cd !important;
}
.Carousel-active-5 {
    color: #fff !important;
}
.header{
    text-align: left;
    font: normal normal bold 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.py-container{padding: 2rem 0rem 0rem 0rem !important;}
.Carousel-prev-12 {
    left: -64px !important;
}
.Carousel-next-11 {
    right: -64px !important;
}
.Carousel-root-1 {
    overflow: inherit !important;
}