.eye-prescription {
    font-family: Montserrat;

    &_heading {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0;
    }

    &_section {
        &-bar {
            width: 46.75em;

            &-first {
                background-color: #6fa5cb;
                color: white;
                padding: 0.875em 2.06em;
                border-radius: 0.625em 0.625em 0 0;

                p {
                    margin-bottom: 0 !important;
                    font-size: 14px !important;
                    margin-top: 0 !important;
                    font-weight: bold !important;
                    font-family: Montserrat !important;
                    letter-spacing: 0px;
                    color: #F9F9FB;
                    opacity: 1;
                }
            }

            &-second {
                background-color: white;
                display: flex;
                justify-content: space-between;
                padding-inline: 1.375em 1.5em;
                padding-block: 1.43em 2.06em;

                &_dropdown {
                    width: 9.375em !important;
                    min-width: 9.375em !important;
                }

                p {
                    margin-bottom: 0.8125em !important;
                }
            }
        }
    }

    &_button {
        padding-block: 0.8125em;
        padding-inline: 2em;
        margin-bottom: 69px;
        border: none;
        border-radius: 28px;
        background-color: #6fa5cb;
        color: white;
        &:hover {
            background-color: #518fbb;
        }
    }
}

.columns {
    .ant-select-arrow {
        margin-top: -2px !important;
    }
    .ant-select {
        min-width: 120px !important;
        height: 45px;
        border: 1px solid #dfdfdf;
        border-radius: 23px;
        background-color: white;
        color: rgba($color: #dfdfdf, $alpha: 1);

        &.ant-select-focused {
            color: black;
        }

        &.ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            border: none;
            padding: 0;
            background-color: unset;
            height: 45px;
            width: 150px;
        }
    }

    display: flex;
    align-items: center;

    p {
        margin-inline: 10px !important;
        margin-bottom: 0 !important;
    }

    .ant-select {
        padding: 0 !important;
    }

    .ant-select-arrow {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #d8d8d8;
        font-size: 0 !important;
    }

    .ant-select-selection-item {
        padding-left: 22px !important;
        line-height: 45px !important;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
        .ant-select-selector {
        border-color: unset !important;
        box-shadow: none !important;
    }
}

.sections-divider {
    margin-block: 2.25em;
    margin-bottom: 20px;
}
.ant-select-selection-item {
    color: #000 !important;
}
.eye-prescription_section-bar-second {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.eye-prescription_section-bar {
    box-shadow: 0px 0px 6px #00000008;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.eye-wrapper-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
}
