.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding-left: 94px;
    padding-right: 94px;
}
.page-logo {
    width: 194px;
    height: 37px;
    object-fit: contain;
    position: absolute;
    top: 27px;
    left: -28px;
}
.login-title {
    font-size: 24px;
    font-family: Montserrat;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
    width: 100%;
}
.login-subtitle {
    font-size: 16px;
    font-family: Montserrat;
    color: #747474;
    font-weight: 400;
    margin-bottom: 30px;
}
.login-form {
    width: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.error {
    font-size: 14px;
    color: red;
    width: 100%;
}
.error-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.label {
    font-size: 16px;
    font-family: Montserrat;
    color: #747474;
    font-weight: 400;
    margin-top: 9px;
}
.email-input {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    padding: 10px 20px;
    color: #747474;
    width: 379px;
    height: 45px;
    outline: none;
    background-color: #fff !important;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 1px solid #dfdfdf !important;
        -webkit-text-fill-color: #747474 !important;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
}
.password-container {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    color: #747474;
    width: 379px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.password-input {
    border-radius: 23px;
    padding: 10px 20px;
    color: #747474;
    width: 329px;
    height: 100%;
    border: none !important;
    outline: none !important;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: none !important;
        -webkit-text-fill-color: #747474 !important;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
}
.eye-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}
.forgot-password {
    font-size: 16px;
    font-family: Montserrat;
    color: #b4cbdb;
    font-weight: 400;
    text-align: end;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
    margin-bottom: 30px;
}
.submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.checkbox {
    font-size: 16px;
    font-family: Montserrat;
    color: #747474 !important;
    font-weight: 400;
}
.submit-button {
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
    padding: 8px 30px;
    background-color: #6fa5cb;
    border-radius: 28px;
    border: none;
    height: 45px;
    &:hover {
        background-color: #518fbb;
    }
    &:disabled {
        background-color: #cbcbcb;
    }
}
.checkbox-container {
    margin-bottom: 0px !important;
}
