.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.checkbox-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
