.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.checkbox-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slot-input-container {
    display: flex;
    align-items: center;
}
.slot-input-label {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    font-weight: bold;
    margin-right: 13px;
}
.slot-input {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    padding: 10px 20px;
    color: #747474;
    width: 150px;
    & ::placeholder {
        color: #cbcbcb;
    }
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
