.container {
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.sub-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
}
.choose-label {
    font-size: 18px;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-top: 20px;
    margin-bottom: 20px;
}
.radio-margin {
    margin-bottom: 10px;
    width: 40%;
    align-items: flex-start;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
