.container {
    padding: 2.65vw 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.page-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}
.root-container {
    margin-left: 88px;
    background-color: #f9f9fb;
    min-height: 100vh;
}
@media only screen and (max-width: 763px) {
    .root-container {
        margin-left: 0px;
        width: 100%;
    }
}
