.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.description {
    font-size: 12px;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 12px;
    list-style: disc;
    display: list-item;
    margin-left: 40px;
    margin-right: 40px;
}
