.container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
}
.login-section{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9FB;
    min-height: 100vh;
}
.slider-section{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #6FA5CB;
    min-height: 100vh;
}