.container{
    height: 100vh;
    justify-content: inherit;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.page-logo{
    position: absolute;
    top:27px;
    left: 70px;
}
.login-section{
    background-color: var(--login-background-color);
}
.slider-section{
    height: 100vh;
    display: inherit;
    background-color: var(--slider-background-color);
}
