.main-container {
    width: calc(100% - 100px);
    margin-left: 100px;
    margin-top: 100px;
    background-color: #f9f9fb;
    min-height: 100vh;
    padding: 34px;
}
.page-label {
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-right: 13px;
}
.cal-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
