.label {
    font-size: 18px;
    font-family: Montserrat;
    color: #2a2a2a;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.custom-radio {
    display: flex;
    flex-wrap: wrap;
}
.radio-margin {
    margin-bottom: 10px;
    width: 40%;
    align-items: flex-start;
}
.polish-radio {
    display: flex;
    flex-wrap: wrap;
}
.choose-label {
    font-size: 18px;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-bottom: 20px;
    margin-top: 20px;
}
