.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.form-slot {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0px;
    flex-wrap: wrap;
    @media only screen and (max-width: 667px) {
        display: block;
        margin-bottom: 0px;
    }
}
.input {
    width: 284px;
    margin-right: 20px;
    height: 45px;
    @media only screen and (max-width: 667px) {
        margin-right: 0px;
        width: auto;
    }
}
.dob-wrapper {
    display: flex;
    flex-direction: column;
    width: 284px;
    margin-right: 20px;
    @media only screen and (max-width: 667px) {
        margin-right: 0px;
        width: auto;
    }
}
.dob-label {
    font-size: 16px;
    color: #2a2a2a;
    margin-bottom: 5px;
    font-family: Montserrat;
    margin-top: 20px;
}
.dob-input {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    padding: 10px 20px;
    color: #747474;
    outline: none;
    height: 45px;
    &::placeholder {
        color: #cbcbcb;
    }
}
.search-button {
    margin-right: 20px;
}
.create-button {
    height: unset !important;
}
.error {
    color: red;
    font-size: 12px;
}
.form-slot-button {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
@media only screen and (max-width: 650px) {
    .form-slot-button {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-button {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .search-button {
        margin-bottom: 10px;
    }
}