.input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.input-label {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    font-weight: bold;
    margin-right: 13px;
}
.input {
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    font-size: 16px;
    padding: 10px 20px;
    color: #747474;
    width: 150px;
    & ::placeholder {
        color: #cbcbcb;
    }
}
