*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// .hot-product p{
//     margin: unset !important;
// }
.hot-product{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 11px 30px #00000012;
border: 1px solid #E8E8E8;
border-radius: 10px;
opacity: 1;
width: 379px;
min-height: 200px;
padding: 1rem;
}
.hot-product>div .staff-name
{
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 23px;
    opacity: 1;
}
.busniss-info
{
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;

}
.hot-product>div .staff-label{
    margin-top: 10px;
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
}


.hot-product ul{
    list-style: none; 
    padding-left: unset !important;
}
ul li{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 0 2rem;
  width: 100%;
  margin-bottom: 20px;
}
ul li .product-count{
    width: 40px;
    height: 40px;
    /* UI Properties */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6FA5CB 0% 0% no-repeat padding-box;
    border-radius: 50%;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: unset !important;
 }
 ul li p.product-name
 {
    font: normal normal normal 16px/22px Montserrat;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
margin:unset !important;
margin-bottom: 3px !important;
 }

 ul li div p.sales
 {
    font: normal normal normal 14px/18px Montserrat;
letter-spacing: 0px;
color: #6FA5CB;
margin-bottom:unset !important;
 }