.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}
.vision-container {
    display: flex;
    flex-direction: column;
}
.custom-radio {
    display: flex;
}
.label {
    font-size: 18px;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-top: 20px;
}
.input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.input-label {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    font-weight: bold;
    margin-right: 13px;
}
.input-shipping {
    width: 150px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #dfdfdf;
    padding: 13px 22px;
    color: #747474;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
