.discount-container {
    font-family: Montserrat;

    &_first {
        &-form {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 710px;

            p {
                margin-bottom: 13px !important;
            }

            &_section {
                input {
                    min-width: 95%;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #dfdfdf;
                    border-radius: 23px;
                    height: 45px;
                    margin-bottom: 5px;

                    &::placeholder {
                        color: rgba($color: #cbcbcb, $alpha: 1);
                    }

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
        }
    }

    &_second {
        &-form {
            display: flex;
            flex-direction: column-reverse;

            &_section {
                input {
                    min-width: 284px;
                    height: 45px;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #dfdfdf;
                    border-radius: 23px;
                    height: 45px;

                    &::placeholder {
                        color: rgba($color: #cbcbcb, $alpha: 1);
                    }
                }

                p {
                    margin-bottom: 13px !important;
                }
            }
        }
    }
}
.switch-margin {
    margin-left: 20px;
}
.input-discount {
    min-width: 0px !important;
    width: 100%;
    margin-right: 10px;
    @media only screen and (max-width: 425px) {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}
.discount-tax {
    .ant-select {
        height: 45px;
        border: 1px solid #dfdfdf;
        border-radius: 23px;
        background-color: white;
        color: rgba($color: #dfdfdf, $alpha: 1);

        &.ant-select-focused {
            color: black;
        }

        &.ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            border: none;
            padding: 0;
            background-color: unset;
            height: 50px;
        }
    }
}

.ant-select-single .ant-select-selector {
    align-items: center;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 20px;
    padding-left: 22px;

    &:focus-visible {
        outline: 0;
    }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: unset !important;
    box-shadow: none !important;
}

.save-button {
    width: unset;
    padding: 13px 32px;
    background-color: #4f8db8;
    border: none;
    border-radius: 28px;
    color: white;
    cursor: pointer;
    
    &:hover {
        background-color: #518fbb;
    }
    &.disable {
        background-color: #cbcbcb;
        pointer-events: none;
    }

    span {
        display: flex;
        align-items: center;

        p {
            font-size: 14px;
            margin: 0 !important;
            margin-right: 5px !important;
        }
    }
}
@media only screen and (min-width: 992px) {
    .save-button {
        width: 100%;
        @media only screen and (width: 1024px){
            padding: unset !important;
        }
    }
}
.discount-output {
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;

    &_head {
        padding-block: 13px;
        padding-inline-start: 32px;
        background-color: #6FA5CB;
        border-radius: 10px 10px 0 0;
    }

    &_body {
        padding-block: 20px;
        padding-inline-start: 32px;
        background-color: white;
    }
}

.section-divide {
    display: flex;
    flex-direction: column-reverse;
}
.btn_section {
    justify-content: center;
    align-items: center;
    display: flex;
}
.second-section {
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        margin-bottom: 13px !important;
    }
}

.discount-tax .heading {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Montserrat !important;
    color: #2a2a2a !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    width: 100%;
    @media only screen and (max-width: 417px) {
        margin-top: 20px !important;
        margin-bottom: 4px !important;
    }
}

.main {
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

td,
th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #6FA5CB;
    padding-block: 14px;
    padding-inline-start: 32px;
    color:#F9F9FB;

    &:first-child {
        border-radius: 10px 0 0 0;
    }

    &:last-child {
        border-radius: 0 10px 0 0;
    }
}

td {
    padding-block: 20px 18px;
    padding-inline-start: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.discount-row {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    font-size: 16px !important;
}
.row-1 {
    border-bottom-left-radius: 10px !important;
}
.col-3 {
    border-bottom-right-radius: 10px;
    padding-right: 0px;
}
.table-color {
    background-color: #f9f9fb;
}
.discount-col-3 {
    text-align: right !important;
}

.discount-tax-con {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 710px;
}
.input-title {
    font-weight: 400 !important;
    margin-bottom: 5px !important;
    font-family: Montserrat !important;
    color: #2a2a2a !important;
    @media only screen and (max-width: 417px) {
        margin-top: 16px !important;
    }
}
.state-select {
    .ant-select-single .ant-select-selector .ant-select-selection-item {
        line-height: 20px;
        padding-left: 22px;
        margin-bottom: 7px !important;

        &:focus-visible {
            outline: 0;
        }
    }
}
.discount-container-page-title {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
.shipping-custom-col-3 {
    text-align: right;
    display: flex;
}
.custom-tax-col-3 {
    text-align: right;
}

.hidden-text {
    visibility: hidden;
}
.ant-select {
    max-width: 23.68em !important;
    padding: 0;
    color: black;
    @media only screen and (max-width: 425px) {
        margin-left: 0px !important;
    }
}
.ant-select-short {
    width: 11.68em !important;
    height: 45px !important;
    padding: 0;
    color: black;
    @media only screen and (max-width: 768px) {
        width: 100% !important;
    }
}

.ant-select-selection-item {
    padding-left: 0px !important;
    line-height: 37px !important;
    text-align: center;
}

.ant-select-single .ant-select-selector {
    align-items: center;
}

.ant-select-arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d8d8d8;
    font-size: 0 !important;
    margin-top: -3px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: #dfdfdf !important;
    box-shadow: none !important;
}

.ant-select-selector {
    height: 45px !important;
    position: absolute !important;
    top: 0;
    left: 0;
    border-radius: 23px !important;
}
