.discount-container {
    font-family: Montserrat;

    &_first {
        &-form {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 710px;

            p {
                margin-bottom: 13px !important;
            }

            &_section {
                input {
                    min-width: 284px;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #dfdfdf;
                    border-radius: 23px;
                    height: 45px;

                    &::placeholder {
                        color: rgba($color: #cbcbcb, $alpha: 1);
                    }

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
        }
    }

    &_second {
        &-form {
            display: flex;
            flex-direction: column-reverse;

            &_section {
                input {
                    min-width: 284px;
                    height: 45px;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #dfdfdf;
                    border-radius: 23px;
                    height: 45px;

                    &::placeholder {
                        color: rgba($color: #cbcbcb, $alpha: 1);
                    }
                }

                p {
                    margin-bottom: 13px !important;
                }
            }
        }
    }
}
.switch-margin{
    margin-left: 20px;
}
.discount-tax {
    .ant-select {
        min-width: 284px !important;
        height: 45px;
        border: 1px solid #dfdfdf;
        border-radius: 23px;
        background-color: white;
        color: rgba($color: #dfdfdf, $alpha: 1);

        &.ant-select-focused {
            color: black;
        }

        &.ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            border: none;
            padding: 0;
            background-color: unset;
            height: 50px;
        }
    }
}

.ant-select-single .ant-select-selector {
    align-items: center;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 20px;
    padding-left: 22px;

    &:focus-visible {
        outline: 0;
    }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: unset !important;
    box-shadow: none !important;
}

.ant-select-arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d8d8d8;
    font-size: 0 !important;
}

.save-button {
    padding: 13px 32px;
    background-color: #4f8db8;
    border: none;
    border-radius: 28px;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #518fbb;
    }
    &.disable {
        background-color: #cbcbcb;
        pointer-events: none;
    }
}

.discount-output {
    width: 710px;
    margin-top: 29px;
    margin-bottom: 111px;
    border-radius: 10px 10px 0 0;

    &_head {
        padding-block: 13px;
        padding-inline-start: 32px;
        background-color: #e8e8e8;
        border-radius: 10px 10px 0 0;
    }

    &_body {
        padding-block: 20px;
        padding-inline-start: 32px;
        background-color: white;
    }
}

.section-divide {
    display: flex;
    flex-direction: column-reverse;
}

.second-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        margin-bottom: 13px !important;
    }
}

.discount-tax .heading {
    font-weight: bold;
    margin-bottom: 16px;
    font-family: Montserrat !important;
    color: #2a2a2a !important;
    margin-top: 36px !important;
    margin-bottom: 36px !important;
    width: 710px;
}

.main {
    font-size: 24px;
    font-weight: bold;
}

.sections {
    width: 710px;
}

table {
    width: 710px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

td,
th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e8e8e8;
    padding-block: 14px;
    padding-inline-start: 32px;

    &:first-child {
        border-radius: 10px 0 0 0;
    }

    &:last-child {
        border-radius: 0 10px 0 0;
    }
}

td {
    padding-block: 20px 18px;
    padding-inline-start: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.discount-row {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    font-size: 16px !important;
}
.row-1 {
    border-bottom-left-radius: 10px !important;
}
.col-3 {
    border-bottom-right-radius: 10px;
    padding-right: 0px;
}
.table-color {
    background-color: #f9f9fb;
}
.discount-col-3 {
    padding-right: 32px !important;
    text-align: right !important;
    border-bottom-right-radius: 10px !important;
}

.discount-tax-con {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.input-title {
    font-weight: 400 !important;
    margin-bottom: 16px !important;
    font-family: Montserrat !important;
    color: #2a2a2a !important;
}
.state-select {
    .ant-select-single .ant-select-selector .ant-select-selection-item {
        line-height: 20px;
        padding-left: 22px;
        margin-bottom: 7px !important;

        &:focus-visible {
            outline: 0;
        }
    }
    .ant-select-arrow {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #d8d8d8;
        font-size: 0 !important;
        margin-top: -2px !important;
    }
}
.discount-container-page-title {
    margin-top: 30px !important;
}
.shipping-custom-col-3 {
    text-align: right;
    padding-right: 32px;
}
.custom-tax-col-3 {
    text-align: right;
    padding-right: 32px;
}
