.discount-container {
    font-family: Montserrat;

    &_first {
        padding-left: 221px;

        &-form {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 710px;

             p {
                margin-bottom: 13px !important;
             }

            &_section {

                input {
                    min-width: 284px;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #DFDFDF;
                    border-radius: 23px;

                    &:focus-visible {
                        outline: 0;
                    }
                }

            }
        }
    }

    &_second {
        &-form {
            display: flex;
            flex-direction: column-reverse;

            &_section {
                input {
                    min-width: 284px;
                    padding-block: 13px;
                    padding-inline-start: 22px;
                    border: 1px solid #DFDFDF;
                    border-radius: 23px;
                }

                p {
                    margin-bottom: 13px !important;
                }
            }
        }
    }
}

.ant-select {
    min-width: 284px;
    height: 50px;
    padding-block: 13px;
    padding-inline-start: 22px;
    border: 1px solid #DFDFDF;
    border-radius: 23px;
    background-color: white;

    &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
        padding: 0;
        background-color: unset;
    }
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 20px;

    &:focus-visible {
        outline: 0;
    }
}

.save-button {
    padding: 13px 32px;
    background-color: #4F8DB8;
    border: none;
    border-radius: 28px;
    color: white;
    cursor: pointer;

    &.disable {
        background-color: #CBCBCB;
        pointer-events: none;
    }
}

.discount-output {
    width: 710px;
    margin-top: 29px;
    margin-bottom: 111px;

    &_head {
        padding-block: 13px;
        padding-inline-start: 32px;
        background-color: #E8E8E8;
    }

    &_body {
        padding-block: 20px;
        padding-inline-start: 32px;
        background-color: white;
    }
}

.section-divide {
    display: flex;
    flex-direction: column-reverse;
}

.second-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        margin-bottom: 13px !important;
    }
}

.heading {
    font-weight: bold;
}

.main {
    font-size: 24px;
    font-weight: bold;
}

.sections {
    width: 710px;
}

table {
    width: 710px;
    background-color: white;
}

td,
th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #E8E8E8;
    padding-block: 14px;
    padding-inline-start: 32px;
}

td {
    padding-block: 20px 18px;
    padding-inline-start: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}