.close-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.sub-container {
    display: flex;
    width: 100%;
}
.sub-left-container {
    display: flex;
    padding: 4.5vw;
    padding-right: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}
.sub-right-container {
    padding: 41px;
    display: flex;
    flex-direction: column;
}
.info-slot-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-slot-title {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-slot-subtitle {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-label {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 30px;
}
.invoice-slot-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.invoice-slot-title {
    font-size: 12px;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.invoice-bold-slot-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.invoice-bold-slot-title {
    font-size: 14px;
    color: #2a2a2a;
    font-family: Montserrat;
    font-weight: bold;
}
.page-sub-label {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
}
.send-button {
    font-size: 16px;
    border-radius: 28px;
    padding: 10px 32px;
    color: #ffffff;
    border: none;
    background-color: #90b0c6;
    width: 160px;
    margin-top: 30px;
    &:hover {
        background-color: #518fbb !important;
    }
    &:disabled {
        background-color: #cbcbcb;
    }
}
.light-title {
    font-size: 14px;
    color: #cbcbcb;
    font-family: Montserrat;
    font-style: italic;
}
.plan-sub-label {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
}
@media only screen and (max-width: 767px) {
    .sub-left-container {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
}

@media only screen and (max-width: 425px) {
    .send-button {
        align-self: center;
    }
}
