.container {
    width: 791px;

    box-shadow: 0px 11px 30px #00000012;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 19px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 90vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.close-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.sub-container {
    display: flex;
    width: 100%;
}
.sub-left-container {
    display: flex;
    width: 271px;
    padding: 44px;
    padding-right: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}
.sub-right-container {
    width: calc(100% - 271px);
    padding: 41px;
    display: flex;
    flex-direction: column;
}
.info-slot-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
}
.info-slot-title {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 10px;
}
.info-slot-subtitle {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
}

.page-label {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 30px;
}
.invoice-slot-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.invoice-slot-title {
    font-size: 12px;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.invoice-bold-slot-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.invoice-bold-slot-title {
    font-size: 14px;
    color: #2a2a2a;
    font-family: Montserrat;
    font-weight: bold;
}
.page-sub-label {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
}
.send-button {
    font-size: 16px;
    border-radius: 28px;
    padding: 10px 32px;
    color: #ffffff;
    border: none;
    background-color: #90b0c6;
    width: 160px;
    margin-top: 30px;
    &:hover {
        background-color: #518fbb !important;
    }
    &:disabled {
        background-color: #cbcbcb;
    }
}
.light-title {
    font-size: 14px;
    color: #cbcbcb;
    font-family: Montserrat;
    font-style: italic;
}
.plan-sub-label {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
}
