.header {
    padding-inline: 1.5em 2.42em;
    padding-block: 0.93em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0.21em 0.42em #00000008;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.07em;
    background-color: #CBCBCB;
    width: 4.29em;
    height: 4.29em;
    margin-inline-end: 20px;

    @media (max-width: 767px) {
        width: 2em;
        height: 2em;
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.07em;
    background-color: #CBCBCB;
    width: 4.29em;
    height: 4.29em;

    @media (max-width: 767px) {
        width: 2em;
        height: 2em;
    }
}
