.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0px 0.21em 0.42em #00000008;
    box-sizing: border-box;
    position: fixed;
    background-color: #ffffff;
    top: 0px;
    z-index: 99999;
}
.logout{
    cursor: pointer;
    color: #6FA5CB;
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat;
}
.logo-icon {
    width: 200px;
    height: 37px;
    object-fit: contain;
}
.sub-container {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}
.bell-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}
.profile-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    margin-right: 14px;
}
