.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    font-family: Montserrat;
}
.subtitle {
    font-size: 14px;
    color: #2a2a2a;
    font-family: Montserrat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-status {
    font-weight: bold;
}
.card-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 763px) {
    .card-wrapper {
        justify-content: center;
    }
}
