.container {
    border-radius: 10px;
    width: 907px;
}
.sub-container {
    padding: 57px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 52px;
    padding-left: 64px;
    padding-right: 30px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 0px 11px #00000008;
}
.submit-button {
    font-size: 16px;
    border-radius: 28px;
    padding: 10px 32px;
    color: #ffffff;
    border: none;
    background-color: #6fa5cb;
    min-width: 178px;
    align-self: flex-end;
    margin-top: 22px;
    float: right;
    &:disabled {
        background-color: #cbcbcb;
    }

    span {
        display: flex;
        align-items: center;

        p {
            font-size: 14px;
            margin: 0 !important;
            margin-right: 5px !important;
        }
    }
}
.private-pay-title {
    font-size: 18px;
    color: #2a2a2a;
    font-weight: bold;
    font-family: Montserrat;
}
.back-icon {
    width: 10px;
    height: 10px;
    object-fit: contain;
    cursor: pointer;
}
.back-container {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
}
.back-text {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
    cursor: pointer;
    margin-left: 5px;
}
