.custom-button {
    font-size: 16px;
    border-radius: 28px;
    padding: 10px 32px;
    color: #ffffff;
    border: none;
    background-color: #6fa5cb;
    &:hover {
        background-color: #518fbb !important;
    }
    &:disabled {
        background-color: #cbcbcb;
    }
}
