.container {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 11px 30px #00000012;
}
.label {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
}
.slot-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.products {
    display: flex;
    flex-direction: column;
}

.slot-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6fa5cb;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    display: grid;
    align-items: center;
}
.sub-container {
    width: calc(100% - 40px);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.title {
    font-size: 16px;
    color: #2a2a2a;
    font-family: Montserrat;
}
.subtitle {
    font-size: 14px;
    color: #6fa5cb;
    font-family: Montserrat;
}
