.container {
    max-width: 787px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding: 25px 36px 27.5px 25px;
    background-color: #ffffff;
    box-shadow: 0px 11px 30px #00000012;

    @media (max-width: 767px) {
        padding: 25px;
    }
}
.title {
    font-size: 18px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 31.5px;
    font-family: Montserrat;
}
.margin-top-container{
    margin-top: 15px;
}
.sub-container {
    width: 100%;
    display: flex;
    column-gap: 24px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.subtitle {
    font-size: 16px;
    color: #2a2a2a;
    margin-bottom: 13.5px;
    font-family: Montserrat;
}
.input {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    padding: 10px 22px;
    font-size: 16px;
    &::placeholder {
        color: #c4c4c4;
    }
}
.button {
    background-color: #6fa5cb;
    border-radius: 28px;
    border: none;
    color: #ffffff;
    margin-top: 29.5px;
    padding: 13px 51px;
    font-family: Montserrat;
    &:hover {
        background-color: #518fbb;
    }
    &:disabled {
        background-color: #ccc;
    }
}
.error {
    color: red;
    font-size: 14px;
}
.edit-button {
    background-color: #6fa5cb;
    border-radius: 28px;
    border: none;
    color: #ffffff;
    margin-top: 29.5px;
    padding: 13px 51px;
    margin-left: 10px;
    font-family: Montserrat;
    outline: none;
    &:hover {
        background-color: #518fbb;
    }
}
@media only screen and (max-width: 412px) {
    .edit-button {
        margin-left: 0px;
    }

}
