.container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 0px 6px #00000008;
    display: flex;
}
.left-container {
    width: 100vw;
    background-color: #f9f9fb;
    border: 1px solid #e8e8e8;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-container {
    width: 100vw;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lenses-list-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #6fa5cb;
    margin-bottom: 24px;
    padding-top: 39px;
    padding-left: 41px;
}
.lenses-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 39px;
}
.lenses-label-slot-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    justify-content: space-between;
    background-color: #f9f9fb;
    margin-top: 1px;
    margin-bottom: 1px;
}
.slot-color {
    background-color: #e8e8e8;
}
.collection-content {
    display: flex;
    flex-direction: column;
}
.lenses-label-slot-title {
    color: #2a2a2a;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    padding-left: 41px;
}
.lenses-label-slot-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    transform: rotate(-90deg);
    margin-right: 20px;
}
.black-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin-right: 19.5px;
    cursor: pointer;
}
.lenses-list-back {
    margin-bottom: 25px;
    padding-top: 39px;
    padding-left: 41px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lenses-list-brand-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #6fa5cb;
    cursor: pointer;
}
.collection-container {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
}
.collection-label {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #6fa5cb;
    margin-bottom: 20px;
    margin-left: 46px;
}
.collection-show-container {
    padding-top: 14px;
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.collection-left-container {
    display: flex;
    justify-content: flex-start;
}
.animated-title {
    display: flex;
    align-items: flex-start;
    position: relative;
    animation: myfirst 0.7s;
    animation-direction: alternate;
}
@keyframes myfirst {
    0% {
        top: -22px;
    }

    100% {
        top: 0px;
    }
}
.edit-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    cursor: pointer;
}
.edit-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-show-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.show-content-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-bottom: 10px;
    user-select: none;
}
.show-content-heading {
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-bottom: 10px;
    user-select: none;
}
.edit-content-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #2a2a2a;
    user-select: none;
    user-select: none;
    margin-left: 5px;
}
.show-content-value {
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    color: #cbcbcb;
    margin-bottom: 15px;
}
.checkbox-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-bottom: 15px;
}
.collection-edit-container {
    padding: 36px 46px;
    width: 100%;
    border: 1px solid #e8e8e8;
    background-color: #f9f9fb;
    box-shadow: 0px 0px 6px #00000008;
}
.collection-edit-header-slot {
    display: flex;
    width: 100%;
    align-items: center;
}
.row-box {
    width: 100%;
}
.tick-icon {
    width: 17px;
    height: 13px;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
}
.checkbox {
    margin-bottom: 0px !important;
}
.edit-slot-title {
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    color: #2a2a2a;
    margin-bottom: 10px;
    margin-top: 10px;
}
.edit-slot-input {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 23px;
    color: #2a2a2a;
    font-size: 16px;
    font-family: Montserrat;
    height: 45px;
    padding-left: 19px;
    padding-right: 19px;
    & ::placeholder {
        color: #dfdfdf;
        font-size: 16px;
        font-family: Montserrat;
    }
}
.save-button-wrapper {
    margin-top: 40px;
    width: 100%;
    text-align: right;
}
.save-button {
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
    padding: 8px 30px;
    background-color: #6fa5cb;
    border-radius: 28px;
    border: none;
    height: 45px;
    margin-bottom: 100px;
    &:hover {
        background-color: #518fbb;
    }
    &:disabled {
        background-color: #cbcbcb;
    }
}
.edit-slot-sub-wrapper {
    width: 100%;
    margin-left: 5px;
}
@media only screen and (max-width: 763px) {
    .collection-edit-container {
        padding: 36px 16px;
    }
    .collection-show-container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .collection-label {
        font-size: 16px;
        font-weight: bold;
        font-family: Montserrat;
        color: #6fa5cb;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .edit-slot-sub-wrapper {
        padding-left: 14px;
    }
}
