.select {
    width: 350px;
    height: 45px;

    & .ant-select-selector {
        border-radius: 23px !important;
        border: 1px solid #dfdfdf !important;
        height: 45px !important;
    }
    & .ant-select-selection-item {
        margin-top: 5px !important;
        margin-left: 20px !important;
    }
    & .ant-select-selection-placeholder {
        margin-top: 5px !important;
        margin-left: 20px !important;
    }
}
.icon-select-class {
    height: 15px;
    width: 15px;
    object-fit: contain;
    margin-right: 10px;
}
