.container {
    display: flex;
    flex-direction: column;
    padding: 1.9em 1.5em;
}
.title {
    font-weight: bold;
    font-size: 18px;
    font-family: Montserrat;
    color: #2a2a2a;
}
.subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #2a2a2a;
    margin-top: 1.2em;
    font-family: Montserrat;
}
.error {
    padding-left: 10px;
    font-size: 14px;
    color: red;
    font-family: Montserrat;
}
