.side-box {
    position: fixed;
    background-color: #6fa5cb;
    min-height: 100%;
    box-shadow: 3px 0px 6px #00000008;
}
.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer !important;
    padding: 0px 5px;
}
.icon {
    width: 27px;
    height: 27px;
    object-fit: contain;
    margin-bottom: 10px;
}
.sidebarmainbox{
    display: block;
    @media only screen and (max-width: 763px) {
        display: none;
    }
}
.sidebarmainboxmobile{
    display: none;
    @media only screen and (max-width: 763px) {
        display: block;
    }

}
.sidebar-label {
    color: #ffffff;
    font-size: 14px;
    font-family: Montserrat;
    cursor: pointer !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active-state {
    position: absolute;
    top: 0;
    right: -6.5%;
    width: 7px;
    height: 55px;
    background-color: #4f8db8;

    &::before {
        content: ".";
        left: -0.71em;
        top: 10%;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0.71em solid transparent;
        border-bottom: 0.71em solid transparent;
        border-right: 0.71em solid #4f8db8;
    }
}
