.container {
    width: 100%;
    display: flex;
}
.left-stats {
    margin-bottom: 10px;
    margin-left: 30px;
    @media only screen and (max-width: 1000px) {
        margin-left: 0px;
        margin-top: 37px;
    }
}
.cards-mapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
