.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-stats {
    margin-bottom: 10px;
}
.cards-mapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
