.profile {
    overflow: auto;
    font-family: Montserrat;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}
.staff {
    min-height: fit-content;
}

.save-button {
    padding: 10px 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-top: 20px;
}