@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.profile
{
    top: 86px;
    right: 0px;
    width: 409px;
    position: absolute;
    // height: 993px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3px 0px 6px #00000008;
    border: 1px solid #E8E8E8;
    opacity: 1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0rem;
    min-height: 100vh;
}
.profile>div
{

    flex:0 1 auto;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding: 1rem .8rem;

}
.profile>div label{
    margin-top: 10px;
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
}
.profile>div .business-name
{
    height: 45px;
    width: 100%;
    padding: 0px 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 23px;
    opacity: 1;
}
.busniss-info
{
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;

}
.ant-upload.ant-upload-select-picture-card
{
    width: 100% !important;
    height: 70px !important;
}
.upload-title
{

    text-align: center;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
}
.add-staff
{
    display: flex;
    justify-content: space-between;
    gap:0rem 1rem
}
.add-btn
{
    border: none;
    border-radius: 50%;
    overflow: hidden;
}
.add-btn img
{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
}